In [1]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
# The following code is to call one .ipynb from another
# First install ipynb using the command "pip install ipynb" from command prompt. Then include the following to start
# using your work from the other notebook (here we want to use the dataframes from our extract.ipynb)
from ipynb.fs.full.transform import *

In [2]:
# Create Engine and Pass in MySQL Connection
conn_str = "root:root@127.0.0.1/immunization_db"
engine = create_engine(f'mysql://{conn_str}')

In [3]:
# Connect
conn = engine.connect()

In [4]:
# Check for table(s) in the database
engine.table_names()

['wa_immunizations']

In [5]:
combined_df.columns

Index(['id', 'county', 'school_year', 'number_reported', 'number_completed',
       'pop_2016'],
      dtype='object')

In [6]:
# Dump data from dataframe to SQL database table
combined_df.to_sql(name='wa_immunizations', con=engine, if_exists='append', index=False)

In [7]:
# Query All Records to confirm the load
data = pd.read_sql("SELECT * FROM wa_immunizations", conn)
data

,id,county,school_year,number_reported,number_completed,pop_2016
0,1,LINCOLN,2016-17,13,10,26680.0
1,2,YAKIMA,2016-17,60,57,666805.0
2,3,ASOTIN,2016-17,47,44,52830.0
3,4,PIERCE,2016-17,59,52,2141210.0
4,5,MASON,2016-17,68,59,134710.0
5,6,THURSTON,2016-17,75,64,680270.0
6,7,SPOKANE,2016-17,91,70,1335528.0
7,8,SPOKANE,2016-17,6,3,1335528.0
8,9,THURSTON,2016-17,1,1,680270.0
9,10,CLARK,2016-17,140,121,1164280.0
10,11,KING,2016-17,46,32,6069380.0
11,12,COWLITZ,2016-17,22,20,269470.0
12,13,PIERCE,2016-17,100,92,2141210.0
13,14,KING,2016-17,65,64,6069380.0
14,15,GRANT,2016-17,52,40,241700.0
15,16,WHATCOM,2016-17,52,46,547082.0
16,17,PIERCE,2016-17,93,87,2141210.0
17,18,PACIFIC,2016-17,40,36,49255.0
18,19,SKAGIT,2016-17,55,42,316950.0
19,20,STEVENS,2016-17,10,9,97958.0
20,21,GRANT,2016-17,95,80,241700.0
21,22,FRANKLIN,2016-17,91,77,253945.0
22,23,SNOHOMISH,2016-17,61,51,1979585.0
23,24,KING,2016-17,77,75,6069380.0
24,25,CLALLAM,2016-17,13,9,176745.0
25,26,LINCOLN,2016-17,7,6,26680.0
26,27,FERRY,2016-17,19,14,16490.0
27,28,PIERCE,2016-17,79,74,2141210.0
28,29,KLICKITAT,2016-17,23,7,49150.0
29,30,SNOHOMISH,2016-17,34,30,1979585.0
...,...,...,...,...,...,...
1357,1440,SPOKANE,2016-17,5,2,1335528.0
1358,1441,ISLAND,2016-17,46,31,191270.0
1359,1442,PIERCE,2016-17,33,7,2141210.0
1360,1443,KING,2016-17,29,27,6069380.0
1361,1444,KING,2016-17,47,45,6069380.0
1362,1445,SPOKANE,2016-17,27,20,1335528.0
1363,1447,PIERCE,2016-17,118,109,2141210.0
1364,1448,YAKIMA,2016-17,16,12,666805.0
1365,1450,GRAYS HARBOR,2016-17,22,19,190350.0
1366,1451,KING,2016-17,50,44,6069380.0
1367,1452,SPOKANE,2016-17,86,77,1335528.0
1368,1453,PIERCE,2016-17,60,57,2141210.0
1369,1455,FRANKLIN,2016-17,26,20,253945.0
1370,1457,YAKIMA,2016-17,7,2,666805.0
1371,1458,KITSAP,2016-17,88,82,613460.0
1372,1459,SPOKANE,2016-17,51,46,1335528.0
1373,1460,WHATCOM,2016-17,85,75,547082.0
1374,1461,KING,2016-17,3,2,6069380.0
1375,1462,SNOHOMISH,2016-17,73,52,1979585.0
1376,1463,SNOHOMISH,2016-17,90,56,1979585.0
1377,1464,SPOKANE,2016-17,6,1,1335528.0
1378,1465,PIERCE,2016-17,62,50,2141210.0
1379,1466,OKANOGAN,2016-17,87,66,100100.0
1380,1467,STEVENS,2016-17,8,6,97958.0
1381,1468,THURSTON,2016-17,64,48,680270.0
1382,1469,YAKIMA,2016-17,15,6,666805.0
1383,1470,COWLITZ,2016-17,55,52,269470.0
1384,1471,SPOKANE,2016-17,86,73,1335528.0
1385,1472,KING,2016-17,139,78,6069380.0
1386,2479,LEWIS,2016-17,33,29,185110.0